BarkleyCanyon_BarkleyCanyonMid-East_ConductivityTemperatureDepth_Temperature_20150101T000036Z_20150112T233836Z-NaN_clean_CSV_META.xml
BarkleyCanyon_BarkleyCanyonMid-East_ConductivityTemperatureDepth_Temperature_20150101T000036Z_20150112T233836Z-NaN_clean.csv
BarkleyCanyon_BarkleyCanyonMid-East_ConductivityTemperatureDepth_Temperature_20090915T195933Z_20141231T235936Z-NaN_clean_CSV_META.xml
BarkleyCanyon_BarkleyCanyonMid-East_ConductivityTemperatureDepth_Temperature_20130703T163246Z_20141231T235936Z-NaN_clean.csv
BarkleyCanyon_BarkleyCanyonMid-East_ConductivityTemperatureDepth_Temperature_20110728T053901Z_20130703T163146Z-NaN_clean.csv
BarkleyCanyon_BarkleyCanyonMid-East_ConductivityTemperatureDepth_Temperature_20090915T195933Z_20110728T053801Z-NaN_clean.csv
